<!DOCTYPE html>
<html lang="en">

<head>
  <title> my web page </title>
  <link rel="stylesheet" href="/Users/mileidicabezas/dev/webprojects/twitterapp/static/css/styles.css">
</head>
<body>
  <div class="header">
    <p>
      <image src="/Users/mileidicabezas/dev/webprojects/twitterapp/static/imag/emocional.jpg" width="70" height="70">
        <br>

        <a style="color: cadetblue;">Sentiment Analyzer</a>
    </p>
    <div class="header-right">
      <ul class="acciones">
        <a class="active" href="#home">Inicio</a>
        <a href="twitter_data.html">Data extraction </a>
        <a href="sentiment.html">Sentiment analysis</a>
      </ul>
    </div>      
  </div>
</body>
</html>